<!DOCTYPE html>
<html>
  <head>
    <title>SoulFunk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if logged_in? %>
      <script type="text/javascript">
          window.currentAdmin =
            <%= render("api/admins/show.json.jbuilder", currentAdmin: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
